//Colors

$alert-yellow:      #ebe16f;
$alert-red:         #f54346;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;

$tan:               #eceee5;

$green:             #7dd667;

$pink:              #f01d4f;
$blue:              #2980b9;

$link-color:        $pink;
$link-hover:        darken($link-color, 20%);